<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>User Directory</title>
  <meta name="author" content="Sergio Gomez">
  <meta name="description" content="Angular & Boostrap Guest Calendar">
  <link rel="icon" type="image/png" href="img/giocodes.png" />
  <style>
  @import url('https://fonts.googleapis.com/css?family=Heebo:100');
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- ========================================= -->
  <!-- Stylesheet applied with LESS on bundle.js -->
  <!-- ========================================= -->
</head>
<!-- using 'data-ng' on Angular directives to comply W3C validation -->

<body data-ng-app="gcAPP" data-ng-controller="MainCtrl">
  <!-- ================= -->
  <!-- Navbar            -->
  <!-- ================= -->
  <nav class="col-xs-12">
    <div class="col-sm-8 row">
      <h1>Guest Calendar</h1>
    </div>
    <div class="col-sm-4 nav-right">
      <input type="text" placeholder="Search" data-ng-model="guestSearch">
      <a href="" data-ng-click="showAddGuest = true ; showProfile = false">Add Guest</a>
    </div>
  </nav>
  <!-- ================= -->
  <!-- Main Wrapper      -->
  <!-- ================= -->
  <main class="col-sm-12">
    <section id="filters" class="col-sm-12">
      <!-- Calendar -->
      <div id="calendar">
        From
        <input type="date" data-ng-model="moveIn.value" data-ng-change="applyFilters()" /> To
        <input type="date" data-ng-model="moveOut.value" data-ng-change="applyFilters()" />
        <!-- Property Filter -->
        <select name="propertyFilter" data-ng-model="propertyFilter" data-ng-options="value for (key,value) in filters.properties" data-ng-change="applyFilters()">
          <option value="">All Properties</option>
        </select>
        <!-- Source Filter -->
        <select name="sourceFilter" data-ng-model="sourceFilter" data-ng-options="value for (key,value) in filters.source" data-ng-change="applyFilters()">
          <option value="">All Sources</option>
        </select>
        <!-- Status Filter -->
        <select name="statFilter" data-ng-model="statusFilter" data-ng-options="value for (key,value) in filters.status" data-ng-change="applyFilters()">
          <option value="">All Status</option>
        </select>
    </section>
    </div>
    <!-- ================= -->
    <!-- Guests Component  -->
    <!-- ================= -->
    <section id="guests" class="col-sm-8">
      <div id="properties" data-ng-repeat="(prop,value) in filters.properties | filter : propertyFilter || undefined">
        <h3>{{value}}</h3>
        <ul>
          <li data-ng-show="guest.property == value" data-ng-repeat="guest in filteredGuests | filter : guestSearch" data-ng-click="updateSelectedGuest(guest)">
            <span class="nameTag {{guest.status}}"> {{guest.status}} </span>
            <span class="nameTag {{guest.source}}"> {{guest.source}} </span>
            <p><strong>{{guest.name}}</strong> <span>{{guest.rate | currency}}</span>
              <br>
              <span>{{guest['move-in'] | date}}</span> | <span>{{guest['move-out'] | date}}</span>
            </p>
          </li>
        </ul>
      </div>
    </section>
    <!-- ================= -->
    <!-- Collection & Fees -->
    <!-- ================= -->
    <section data-ng-hide="showAddGuest || showProfile" id="details" class="col-sm-4">
      <h3>Collection & Fees</h3>
      <h4><span>{{filteredGuests.length}}</span> Guests</h4>
      <!-- {{moveIn.value == null || moveIn.value == undefined}} -->
      <p>
        <span data-ng-show="moveIn.value != null || moveIn.value != undefined">
        <strong>{{moveIn.value | date:'MMMM-dd'}}</strong>
        </span>
        <span data-ng-show="moveOut.value != null || moveOut.value != undefined">
          to <strong>{{moveOut.value | date:'MMMM-dd'}}</strong></span>
      </p>
      <ul>
        <li data-ng-repeat="(property,value) in collected">
          <p><strong>{{property}}</strong> <span>{{value.rates | currency }}</span></p>
        </li>
      </ul>
      <hr>
      <p><strong>Total Collected</strong> <span>{{total | currency }}</span></p>
      <hr>
      <h4><strong>Total Fees</strong> <span>{{total * .75 | currency }}</span></h4>
    </section>
    <!-- ================= -->
    <!-- Profile COMPONENT -->
    <!-- ================= -->
    <section data-ng-show="showProfile" id="profile" class="col-sm-4">
      <a href="#" data-ng-click="showProfile = false" style="float:right">[X]</a href="#">
      <h3>Guest Profile</h3>
      <div class="col-xs-6 photo" style="background-image: url('http://i.pravatar.cc/500?u={{selectedGuest.name}}')"></div>
      <div class="col-xs-6">
        <h2><strong>{{selectedGuest.name}}</strong></h2>
        <p>{{selectedGuest.email ? selectedGuest.email : 'name@email.com'}}</p>
        <p>{{selectedGuest.phone ? selectedGuest.phone : '(605)1234567'}}</p>
      </div>
      <div id="stays" class="col-xs-12">
      <hr>
        <h3>Stays</h3>
        <h4><strong>{{selectedGuest.property}}</strong></h4>
        <p>{{calcDays(selectedGuest)}} days
        <span class="nameTag {{selectedGuest.status}}">{{selectedGuest.status}}</span>
        <span class="nameTag {{selectedGuest.source}}">{{selectedGuest.source}}</span>
        </p>
        <p><strong>{{selectedGuest['move-in'] | date}}</strong> to <strong>{{selectedGuest['move-out'] | date}}</strong></p>
        <h4>Rate: {{selectedGuest.rate | currency}}</h4>
      </div>
    </section>
    <!-- =================== -->
    <!-- New Guest COMPONENT -->
    <!-- =================== -->
    <section data-ng-show="showAddGuest" id="newGuest" class="col-sm-4">
      <a href="#" data-ng-click="showAddGuest = false" style="float:right">[X]</a href="#">
      <h3>Add Guest</h3>
      <div class="col-xs-6 photo" style="background-image: url('img/photo.jpg')"></div>
      <form novalidate class="simple-form">
        <div class="col-xs-6">
          <input type="text" data-ng-model="newGuest.name" placeholder="Name" />
          <input type="email" data-ng-model="newGuest.email" placeholder="email" />
          <input type="text" data-ng-model="newGuest.phone" placeholder="phone" />
        </div>
        <div id="stays" class="col-xs-12">
          <h3>Stays</h3>
          <div class="formLabel">Property</div> <select name="propertySelect" data-ng-model="newGuest.property" data-ng-options="value for (key,value) in filters.properties">
            <option value="">Select Properties</option>
          </select> <br>
          <div class="formLabel">Source</div> <select name="sourceSelect" data-ng-model="newGuest.source" data-ng-options="value for (key,value) in filters.source">
            <option value="">Select Source</option>
          </select><br>
          <div class="formLabel">Status</div> <select name="statSelect" data-ng-model="newGuest.status" data-ng-options="value for (key,value) in filters.status"></select><br>
          <div class="formLabel">From</div> <input type="date" data-ng-model="newGuest.moveIn" /> <br>
          <div class="formLabel">To</div> <input type="date" data-ng-model="newGuest.moveOut" /><br>
            <div class="formLabel">Rate</div>
              <input type="number" data-ng-model="newGuest.rate" placeholder="$00.00" />
        <input type="submit" data-ng-click="addNewGuest(newGuest)" value="Save" />
        </div>
      </form>
    </section>
  </main>
  <footer class="col-xs-12">
    <p>View source on <a href="https://github.com/giocodes/">GitHub</a></p>
      </footer>
      <!-- /container's end -->
      <!-- ================================================ -->
      <!-- jQuery and Tether are Bootstrap 4 dependencies   -->
      <!-- ================================================ -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
      <!-- 📝 here's where all the magic happens -->
      <script src="js/main.js"></script>
      <!-- 📝 bundle.js is the LESS preprocesor output file for styles -->
      <script src="js/bundle.js"></script>
</body>

</html>
